body{
    font-family: 'Montserrat', sans-serif;
}
/* Navbar section  */
#navbar{
    background-color: #EAC7C7;
    margin: auto;
    
}
.container-fluid{
    background-color: #EAC7C7;
    padding: 8% 0 0 0;
    text-align: center;

}


    .iphonecat{
        width: 60%;
        transform: rotate(25deg);
        position:absolute;
        left: 40%;}
    
#middleSection{
    background-color: white;
    text-align: center;
    padding: 5%;
    position: relative;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}



h2{
   
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
font-size: 3rem;
line-height: 1;
}

.row{
    text-align: center;
    padding: 5% 0 20% 0;
    

}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.fa-4x{
    color: #F48484;
}

.feature{
background-color: #EAC7C7;
text-align: center;
padding: 10%;
line-height: 1.5;
}
.cat{
    width: 200px;
    border-radius: 80%;
}

.feature-box{
    padding: 5%;
}

.button-sign{
    padding: 0 10%;
}

#press{
    background-color: #EAC7C7;
    text-align: center;
    padding: 3%;
}
.presslogo{
    margin: 5px 40px 20px 30px;
    width: 15%;
}

#bottom{
    background-color: #EAC7C7;
    text-align: center;
    margin: 10%;
    padding: 20% 0;
}
.download-button{
    margin: 5%;
    padding: 1% 3%;
}

#footer{
    text-align: center;

}

@media (max-width:900px) {
    
    .iphonecat{
        width: 60%;
transform: none;
position: relative;
left: 10%;
}